/* global */
body {
    color: #222;
    font-family: Georgia, 'Times New Roman', serif;
    margin: 0;
}

.list-align {
    display: inline-block;
    width: 12em;
}

.list-align-grand {
    display: inline-block;
    width: 28em;
}

/* header */
.header {
    overflow: auto;
}

.header .title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.6em;
}

.header .title a {
    position: relative;
    color: #222;
    text-decoration: none;
}

#avatar {
    height: 8em;
    float: left;
    margin-right: 2em;
}

/* content */
.margined-content {
    margin: 8px;
}

.content-title {
    position: relative;
    overflow: hidden; /* Will change h2 position if theres too much meta */
}

.content-title .description {
 font-size: 1.05em; /* Stop descenders being cut.  No idea why... */
}

.content-title .meta {
    position: absolute;
    padding-top: 1.5em; /* Align with title */
    top: 0;
    right: 0;
    font-style: italic;
}

.content-title hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* comments */
#disqus_thread {
    margin-top: 3em;
}
