/* global */
body {
    color: #222;
    font-family: Georgia, 'Times New Roman', serif;
    margin: 0;
}

.list-align {
    display: inline-block;
    width: 14em;
}

.list-align-grand {
    display: inline-block;
    width: 28em;
}

.heart {
    color: red;
}

.clear {
    clear: both;
}

/* home */
#home ul {
    line-height: 1.6em;
}

/* previews */
#previews {
    float: left;
    margin-top: 0.6em;
}

.preview {
    display: inline-block; // shrink

    height: 150px;
    float: left;
    margin-right: 0.5em;
    padding: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    border-radius: 7px;

    text-align: center;
}

.preview img { /* fix height issue */
    display: block;
    height: 100px;
}

/* map */
.home-preview {
    width: 200px;
    height: 100px;
}

/* beeminder */
.beeminder-goal-preview, .beeminder-goal-preview img {
    height: 100px;
    width: 152px;
    padding: 0;
}



/* header */
.header {
    overflow: auto;
}

.header .title {
    float: left;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-right: 2em;
}

.header .title #site-name a {
    position: relative;
    color: #222;
    text-decoration: none;
}

.header .title sup {
    font-size: 0.5em;
}

.header .title sup a,
.header .title sup a:visited {
     color: #4183c4;
     text-decoration: none;
}

.header .title sup a:hover {
     text-decoration: underline;
}

.header .title img {
    margin-bottom: -4px;
    width: 40px;

    opacity: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

.header .title img:hover {
    opacity: 0.8;
}


#avatar {
    height: 8em;
    float: left;
    margin-right: 2em;
}

/* content */
.margined-content {
    margin: 8px;
}

.content-title {
    position: relative;
    overflow: hidden; /* Will change h2 position if theres too much meta */
}

.content-title .description {
 font-size: 1.05em; /* Stop descenders being cut.  No idea why... */
}

.content-title .meta {
    position: absolute;
    padding-top: 1.5em; /* Align with title */
    top: 0;
    right: 0;
    font-style: italic;
}

.content-title hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* comments */
#disqus_thread {
    margin-top: 3em;
}

/* projects */
#projects-left {
    float: left;
    min-width: 600px;
    width: 50%;
}

#projects-left ul {
    margin-top: 0;
    margin-bottom: 0;
}

#projects-right {
    float: right;
    min-width: 400px;
    max-width: 1000px;
    width: 48%;
}

.project-screenshot {
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-radius: 7px;

    text-align: center;
}

/* footnotes */

#footnotediv {
    background-color: #DDD;
    padding: 0.5em;
    width: 400px;
    opacity: 0.9;

}

/* style markdown text */

.markdown-body {
    line-height: 1.35em;
}

/* style code blocks */

.highlight { /* this is the block element surrounding code blocks */
    margin-left: 1.5em;
}

/* beeminder */
.beeminder-goals {
    display: inline-block;
}

.beeminder-goal {
    width: 200px;
    height: 132px;
    float: left;
    padding: 5px;
}

span.toc {
    display: inline-block;
    float: right;
    background-color: #EEE;
    border: 1px solid;
    margin: 5px;
    padding-right: 20px;

    /* position: absolute; */
    /* right: 0; */
    /* opacity:0.7; */
    /* filter:alpha(opacity=70); /\* For IE8 and earlier *\/ */
}

/* map */
.world-map-full {
    width: 1000px;
    height: 500px;
}

