body {
    color: #444444;
    font: normal normal 16px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
}

.list-align {
    display: inline-block;
    width: 200px;
}

.header h1 a {
    color: #444444;
    text-decoration: none;
}
