/* TODO: Hack: Calculated to make picture line up with bottom of log div */
body {
  font-family: 'Monda', serif;
  margin: 0;
  background-color: #f2f2f2;
  whitespace: nowrap;
}
#Container {
  min-width: 782px;
  width: auto !important;
  width: 782px;
}
/*
 *
 * Left navigation menu
 * 
 */
#LeftContent {
  float: left;
  width: 132px;
  height: 100%;
}
#LeftMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
.LeftMenuHeading {
  list-style-type: none;
  background-color: #eeeeee;
}
.LeftMenuHeading a,
.LeftMenuHeading a:visited {
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: #111;
}
.LeftMenuHeading:hover {
  background-color: #CCC;
}
.LeftSubMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  /* Hide initially, until mouseover
       TODO: Bug: Browser will not calculate Left Bar's width correctly on startup since it ignore hidden elements.
     */

  display: none;
}
.LeftMenuItem {
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #111;
  background-color: #eeeeee;
  /* Necessary to stop browser recomputing container width.  See aboive bug. */

  overflow: hidden;
}
.LeftMenuItem:hover {
  background-color: #F00;
}
/*
 *
 * Central Content
 * 
 */
#CentreContent {
  min-width: 600px;
  width: 75%;
  /*    width: 70%;*/

  /*    height: 600px; */

  /*    margin: 0px auto 0px auto; */

  margin-left: 50px;
  float: left;
}
/* Header Elements */
#HeaderBar {
  background-color: #327ccb;
  font-size: xx-large;
  overflow: auto;
}
.HeaderBarSelected {
  font-weight: bold;
}
#Avatar {
  /*    float: left;*/

  display: block;
  width: 100%;
}
#LogBar {
  background-color: #cccccc;
  overflow: auto;
  position: relative;
}
#LogItemsNext {
  /* Hidden by fefault */

  display: none;
}
#FullLog {
  /* hide by default, until "more" has been pressed */

  display: none;
  /*    position: absolute;
    bottom: 0; */

}
#LogoBox {
  float: right;
  width: 80px;
  overflow: auto;
}
.Logo {
  float: right;
  height: 40px;
}
/*
#RSSLogo {
    float: right;
    height: 40px;
}
#TwitterLogo {
    float: right;
    height: 40px;

}
#FacebookLogo {
    float: right;
    height: 40px;
}
#GooglePlusLogo {
    float: right;
    height: 40px;
}
*/
/* Content Elements */
#Content {
  bottom: 0;
}
/* Footer Elements */
#FooterBar {
  background-color: #327ccb;
}
