---
layout: default
---

{{ content }}

{% capture comments_string %}{{ page.comments }}{% endcapture %}
{% if comments_string != 'false' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'beneills';
  var disqus_title = '{{ page.title | replace: "'","\\'" }}';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>enable javascript to comment, or just <a href="#contact">email me</a></noscript>
{% endif %}
