---
layout: comments
---
<div class="content-title">
  <h1>
    {{ page.title }}
    {% if page.draft %}(draft){% endif %}
  </h1>
    {% if page.description %}
    <em class="description">{{ page.description }}</em><br />
    {% endif %}

  <div class="meta">
    {% if page.status %}
    epistemic status<a href="http://www.gwern.net/About#belief-tags">&dagger;</a>: <strong>{{ page.status }}</strong>
    {% endif %}

    {% if page.completion %}
    <br />
    completion status: <strong>{{ page.completion }}</strong>
    {% endif %}

    <br />
    reading time: <strong><span id="reading-time"></span></strong>

  </div>
  <hr />
</div>

<!-- Table of Contents here gives a nice appearance, allowing MD content to wrap correctly -->
{% toc %}

<div class="markdown-body">

{{ content }}
</div>
