---
layout: comments
---
<div class="content-title">
  <div class="content-title-left">
    <div class="content-header">
      {{ page.title }}
      {% if page.draft %}(draft){% endif %}
    </div>

    {% if page.description %}
      <em class="content-description">{{ page.description }}</em><br />
    {% endif %}
  </div>

  <div class="content-meta">
    {% if page.status %}
    epistemic status<a href="http://www.gwern.net/About#belief-tags">&dagger;</a>: <strong>{{ page.status }}</strong>
    {% endif %}

    {% if page.completion %}
    <br />
    completion status: <strong>{{ page.completion }}</strong>
    {% endif %}

    <br />
    reading time: <strong><span id="reading-time"></span></strong>

  </div>

  <div class="clear"></div>

  <hr />
</div>

<!-- Table of Contents here gives a nice appearance, allowing MD content to wrap correctly -->
{% toc %}

<div class="markdown-body">

{{ content }}

<em><strong>author: <a href="https://plus.google.com/u/0/+BenEills?rel=author">Ben Eills</a></strong></em> <!-- for Google authorship -->

<br><br>

<strong><a href="/">List of all pages</a></strong>

</div>
