---
layout: comments
---
<div class="content-title">
  <div class="content-title-left">
    <div class="content-header">
      {{ page.title }}
      {% if page.draft %}(draft){% endif %}
    </div>

    {% if page.description %}
      <em class="content-description">{{ page.description }}</em><br />
    {% endif %}
  </div>

  <div class="content-meta">
    {% if page.status %}
    epistemic status<a href="http://www.gwern.net/About#belief-tags">&dagger;</a>: <strong>{{ page.status }}</strong>
    {% endif %}

    {% if page.completion %}
    <br />
    completion status: <strong>{{ page.completion }}</strong>
    {% endif %}

    <br />
    reading time: <strong><span id="reading-time"></span></strong>

  </div>

  <div class="clear"></div>

  <hr />
</div>

<!-- Table of Contents here gives a nice appearance, allowing MD content to wrap correctly -->
{% toc %}

<div class="markdown-body reading-text">

{{ content }}

<em>
<strong>

author: <a href="https://plus.google.com/u/0/+BenEills?rel=author">Ben Eills</a> <!-- for Google authorship -->

|

<img class="share-icon" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M15%2015H2V6h2.595s.69-.896%202.17-2H1c-.553%200-1%20.45-1%201v11c0%20.553.447%201%201%201h15c.553%200%201-.447%201-1v-3.746L15%2013.9V15zm-1.64-6.95v3.55L20%206.4l-6.64-5v3.132C5.3%204.532%205.3%2012.5%205.3%2012.5c2.282-3.748%203.686-4.45%208.06-4.45z%22%2F%3E%3C%2Fsvg%3E"></img>
<share-button></share-button>

|

<a href="/">list of all pages</a>

</strong>
</em>

</div>
