---
layout: comments
---
<div class="content-title">
  <h1>{{ page.title }}</h1>
  <div class="meta">
    {{ page.date | date: "%B %Y" }}
    {% if page.status %}
    <br />
    epistemic status<a href="http://www.gwern.net/About#belief-tags">&dagger;</a>: <strong>{{ page.status }}</strong>
    {% endif %}

    {% if page.completion %}
    <br />
    completion status: <strong>{{ page.completion }}</strong>
    {% endif %}
  </div>
  <hr />
</div>

<div class="markdown-body">
{{ content }}
</div>
